.mySwiper.bookmark {
   height: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 40px 0;
}
.mySwiper.bookmark .card {
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 150px;
   background-color: rgb(228, 228, 228);
}
.mySwiper.bookmark .card h1 {
   padding: 0 30px;
}
