.Main {
   height: 70vh;
}
.Main form {
   margin: 0 auto;
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
   position: relative;
}
.Main form input {
   background-color: rgb(235, 235, 235);
}

.Main form button {
   position: absolute;
   right: 40px;
   border: none;
}

.Main form button .icon {
   font-size: 40px;
   color: rgb(94, 94, 94);
}
